
<div class="tarjeta">
    <img class="bandera" [src]="bandera" alt="bandera del pais">
  <img class="escudo" [src]="escudo" alt="escudo de armas">
  <div class="tarjeta__info">
   <div class="capital"><u>Capital:</u> {{capital}}</div>
   <div class="population"><u>Población:</u> {{population}} Habitantes</div>
   <div class="paisesLimitrofes"><u>Paises Limitrofes:</u> {{paisesLimitrofes}}</div>
   <div class="region"><u>Región:</u> {{region}}</div>
   <div class="superficie"><u>Superficie:</u> {{superficie}} km²</div>
   <div class="husoHorario"><u>Huso Horario:</u> {{husoHorario}}</div>
   <a href={{maps}} target="_blank">Mapa del pais</a>
   </div>
 </div>









